In [105]:
%load_ext autoreload
%autoreload 2
import os
import requests
import pandas as pd

from configparser import ConfigParser

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [160]:
parser = ConfigParser()
parser.read('../config.cfg')
base_query = 'https://www.api-football.com/api/v2/'
headers = {
    "X-RapidAPI-Key": parser.get('api-football', 'token'),
    "Accept": "application/json"
}

In [155]:
req = requests.get(url=base_query+'status', headers=headers)
api_doc = req.json()['api']

KeyError: 'api'

In [151]:
api_doc

{'results': 1,
 'status': {'user': 'javiermas93',
  'email': 'javiermas93@gmail.com',
  'plan': 'Free',
  'token': '022b19a4341138f56a65c60fc6280208',
  'active': 1,
  'subscription_end': '2019-12-31T23:59:59+00:00',
  'requests': 9,
  'requests_limit_day': 50,
  'payments': []}}

In [156]:
countries_query = base_query+'countries'
req = requests.get(url=countries_query, headers=headers)

In [157]:
countries = req.json()['api']

KeyError: 'api'

In [115]:
countries['countries'][:5]

[{'country': 'Albania',
  'code': 'AL',
  'flag': 'https://www.api-football.com/public/flags/al.svg'},
 {'country': 'Algeria',
  'code': 'DZ',
  'flag': 'https://www.api-football.com/public/flags/dz.svg'},
 {'country': 'Andorra',
  'code': 'AD',
  'flag': 'https://www.api-football.com/public/flags/ad.svg'},
 {'country': 'Angola',
  'code': 'AO',
  'flag': 'https://www.api-football.com/public/flags/ao.svg'},
 {'country': 'Argentina',
  'code': 'AR',
  'flag': 'https://www.api-football.com/public/flags/ar.svg'}]

In [140]:
country_of_interest = 'GB'
leagues_query = base_query+'leagues/country/'+country_of_interest
req = requests.get(url=leagues_query, headers=headers)

In [141]:
league_id = req.json()['api']['leagues'][0]['league_id']

In [142]:
fixtures = base_query+f"fixtures/league/{league_id}"
req = requests.get(url=fixtures, headers=headers)

In [143]:
fixture_data = req.json()['api']['fixtures']
fixture_data = pd.DataFrame(fixture_data)
fixture_data['event_date'] = pd.to_datetime(fixture_data['event_date'])
print(fixture_data.shape)
fixture_data.head()

(380, 17)

,awayTeam,elapsed,event_date,event_timestamp,firstHalfStart,fixture_id,goalsAwayTeam,goalsHomeTeam,homeTeam,league_id,referee,round,score,secondHalfStart,status,statusShort,venue
0,"{'team_id': 46, 'team_name': 'Leicester', 'log...",90,2018-08-10 19:00:00+00:00,1533927600,1533927600,65,1,2,"{'team_id': 33, 'team_name': 'Manchester Unite...",2,None,Regular Season - 1,"{'halftime': '1-0', 'fulltime': '2-1', 'extrat...",1533931200,Match Finished,FT,Old Trafford (Manchester)
1,"{'team_id': 47, 'team_name': 'Tottenham', 'log...",90,2018-08-11 11:30:00+00:00,1533987000,1533987000,66,2,1,"{'team_id': 34, 'team_name': 'Newcastle', 'log...",2,Rudimar Goltara,Regular Season - 1,"{'halftime': '1-2', 'fulltime': '1-2', 'extrat...",1533990600,Match Finished,FT,St. James' Park (Newcastle upon Tyne)
2,"{'team_id': 43, 'team_name': 'Cardiff', 'logo'...",90,2018-08-11 14:00:00+00:00,1533996000,1533996000,67,0,2,"{'team_id': 35, 'team_name': 'Bournemouth', 'l...",2,André Rodrigo Rocha,Regular Season - 1,"{'halftime': '1-0', 'fulltime': '2-0', 'extrat...",1533999600,Match Finished,FT,"Vitality Stadium (Bournemouth, Dorset)"
3,"{'team_id': 52, 'team_name': 'Crystal Palace',...",90,2018-08-11 14:00:00+00:00,1533996000,1533996000,68,2,0,"{'team_id': 36, 'team_name': 'Fulham', 'logo':...",2,Andrey Da Silva e Silva,Regular Season - 1,"{'halftime': '0-1', 'fulltime': '0-2', 'extrat...",1533999600,Match Finished,FT,Craven Cottage (London)
4,"{'team_id': 49, 'team_name': 'Chelsea', 'logo'...",90,2018-08-11 14:00:00+00:00,1533996000,1533996000,69,3,0,"{'team_id': 37, 'team_name': 'Huddersfield', '...",2,Vanderlei Soares de Macedo,Regular Season - 1,"{'halftime': '0-2', 'fulltime': '0-3', 'extrat...",1533999600,Match Finished,FT,"The John Smith's Stadium (Huddersfield, West Y..."

In [146]:
odds_query = base_query+f"odds/league/{league_id}"
req = requests.get(url=odds_query, headers=headers)

In [152]:
fixture_id = '65' 
odds_query = base_query+f"odds/fixture/{fixture_id}"
req = requests.get(url=odds_query, headers=headers)

In [153]:
req.json()

{'api': {'results': 0, 'odds': []}}

In [149]:
req.headers

{'Date': 'Sat, 03 Aug 2019 13:56:57 GMT', 'Server': 'Apache', 'Content-Length': '31', 'Keep-Alive': 'timeout=5, max=100', 'Connection': 'Keep-Alive', 'Content-Type': 'application/json'}

In [147]:
req.json()

{'api': {'results': 0, 'odds': []}}

In [131]:
odd_data = pd.DataFrame(req.json()['api']['odds'])
print(odd_data.shape)
odd_data.head()

(0, 0)

Empty DataFrame
Columns: []
Index: []

In [132]:
req.json()

{'api': {'results': 0, 'odds': []}}

In [70]:
odd_data['league_id'] = odd_data['fixture'].apply(lambda x: x['league_id'])
odd_data['fixture_id'] = odd_data['fixture'].apply(lambda x: x['fixture_id'])

In [71]:
odd_data.head()

,bookmakers,fixture,league_id,fixture_id
0,"[{'bookmaker_id': 6, 'bookmaker_name': 'bwin',...","{'league_id': 2, 'fixture_id': 435, 'updateAt'...",2,435
1,"[{'bookmaker_id': 6, 'bookmaker_name': 'bwin',...","{'league_id': 2, 'fixture_id': 436, 'updateAt'...",2,436
2,"[{'bookmaker_id': 6, 'bookmaker_name': 'bwin',...","{'league_id': 2, 'fixture_id': 437, 'updateAt'...",2,437
3,"[{'bookmaker_id': 6, 'bookmaker_name': 'bwin',...","{'league_id': 2, 'fixture_id': 438, 'updateAt'...",2,438
4,"[{'bookmaker_id': 6, 'bookmaker_name': 'bwin',...","{'league_id': 2, 'fixture_id': 439, 'updateAt'...",2,439

In [80]:
odd_data['bookmakers'].iloc[0][0]['bets'][0]

{'label_id': 1,
 'label_name': 'Match Winner',
 'values': [{'value': 'Home', 'odd': '17.50'},
  {'value': 'Draw', 'odd': '8.75'},
  {'value': 'Away', 'odd': '1.14'}]}

In [75]:
odd_data['bookmaker_name'] = odd_data['bookmakers'].apply(lambda x: x[0]['bookmaker_name'])
odd_data[''] = odd_data['bookmakers'].apply(lambda x: x[0]['bets'][0])

In [76]:
odd_data['bookmaker_name']

array(['bwin'], dtype=object)